<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->

<head>



<meta charset="utf-8" />
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="Content-Author" content="Broadleaf Commerce" />
<meta name="viewport" content="width=device-width" />

<title>Broadleaf Admin</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"
	type="text/css" />
<!--[if IE 7]>
    <link rel="stylesheet" th:href="@{/css/font-awesome-ie7.min.css}" />
    <![endif]-->

<link rel="stylesheet" href="/admin/css/admin/foundation.css" />

<link rel="stylesheet" href="/admin/css/admin/offcanvas.css" />
<link rel="stylesheet" href="/admin/css/admin/redactor.css" />
<link rel="stylesheet" href="/admin/css/admin/responsive-tables.css" />
<link rel="stylesheet" href="/admin/css/admin/font-awesome.min.css" />
<link rel="stylesheet"
	href="/admin/css/admin/jquery-ui-1.10.2.custom.css" />
<link rel="stylesheet"
	href="/admin/css/admin/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" href="/admin/css/admin/spectrum.css" />
<link rel="stylesheet" href="/admin/css/admin/blc-admin.css" />
<link rel="stylesheet" href="/admin/css/admin/components.css" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script language="javascript" type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>


<script type="text/javascript"
	src="/admin/js/admin/lib/modernizr.foundation.js"></script>
<script>
	var loadFile = function(event) {
		var reader = new FileReader();
		reader.onload = function() {
			var output = document.getElementById('output3');
			output.src = reader.result;
		};
		reader.readAsDataURL(event.target.files[0]);
	};
</script>
<script type="text/javascript">
	function PreviewImage() {
		pdffile = document.getElementById("pdfFile").files[0];
		pdffile_url = URL.createObjectURL(pdffile);
		$('#viewer').attr('src', pdffile_url);
	}
</script>
</head>
<body>

	<table width="100%">
		<tr th:each="supplierCatalog : ${productCatalog}">
			<td class="supTab">

				<table cellspacing="0" cellpadding="0" width="100%">
					<tr>
						<td colspan="3"><center>
							<p class="suply">
								<span style="color: #bb4c41; font-weight: bold;"
									th:text="${supplierCatalog.supplierName}"></span>
							</p>
							</center></td>
					</tr>

					<tr>
						<td WIDTH="100%">
							<table class="search_inner" cellspacing="0" border="0"
								width="100%">
								<tr>
									<td>Package:<select id="package" name="package">
											<option value="SELECT">SELECT</option>
											<option value="Cut Tape">Cut Tape</option>
											<option value="MouseReel">MouseReel</option>
											<option value="Full Reels">Full Reels</option>
											<option value="Reel and Cut Tape">Reel and Cut Tape</option>
											<option value="Reel and MouseReel">Reel and
												MouseReel</option>

									</select></td>
								</tr>
								<tr>
									<td>Stock:<input id="quentity" name="quentity" type="text"
										th:value="${supplierCatalog.stock}" autocomplete="off"
										size="5" /></td>
								</tr>
								<tr>
									<td>Min:<input id="minu" name="minu" type="text"
										th:value="${supplierCatalog.minu}" autocomplete="off" size="5" /></td>

								</tr>

								<tr>

									<td>Mult: <input id="mult" name="mult" type="text"
										th:value="${supplierCatalog.mult}" autocomplete="off" size="5" /></td>
								</tr>
								<tr>
									<td>Factory Lead Time(in Days):<input id="leadTime"
										name="leadTime" type="text"
										th:value="${supplierCatalog.leadTime}" autocomplete="off"
										size="5" /></td>
								</tr>
								<tr>
									<td>On Order:<input id="onOrder" name="onOrder"
										type="text" th:value="${supplierCatalog.onOrder}"
										autocomplete="off" size="5" /></td>
								</tr>
							</table>
						</td>

						<td WIDTH="30%" align="right"><table class="search_inner"
								cellspacing="0" border="0">


								<tr th:each="priceTag : ${supplierCatalog.priceTagImplLists}">
									<td><input id="quentity" name="quentity" type="text"
										th:value="${priceTag.quentity}" autocomplete="off" size="5" /></td>
									<td><input id="retailPrice" name="retailPrice" type="text"
										th:value="${priceTag.retailPrice}" autocomplete="off" size="5" /></td>
									<td><input id="salePrice" name="salePrice" type="text"
										th:value="${priceTag.salePrice}" autocomplete="off" size="5" /></td>
									<td><input id="tax" name="tax" type="tax"
										th:value="${priceTag.tax}" autocomplete="off" /></td>
								</tr>



							</table></td>

						<!-- <td WIDTH="120"><center>*Inclusive of Custom Duty +
							14.50% VAT as Applicable</center></td> -->
					</tr>
				</table>

			</td>
		</tr>
	</table>

	<footer> <script>
		var BLC_USER_PREFS = {};
	</script> <script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.cookie.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.event.move.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.event.swipe.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.foundation.accordion.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.foundation.alerts.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.foundation.buttons.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.foundation.clearing.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.foundation.joyride.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.foundation.magellan.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.foundation.mediaQueryToggle.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.foundation.navigation.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.foundation.orbit.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.foundation.tabs.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.foundation.tooltips.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.foundation.topbar.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.placeholder.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.mousewheel.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.ba-dotimeout.js"></script> <script
		type="text/javascript"
		src="/admin/js/lib/plugins/jquery-ui-1.10.2.custom.js"></script> <script
		type="text/javascript"
		src="/admin/js/lib/plugins/jquery-ui-timepicker-addon.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.iframe-transport.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.ui.widget.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/lib/plugins/jquery.autosize.js"></script> <script
		type="text/javascript" src="/admin/js/admin/lib/plugins/spectrum.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/plugins/redactor/fontfamily.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/lib/plugins/redactor/fontcolor.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/lib/plugins/redactor/fontsize.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/lib/plugins/redactor/selectasset.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/lib/plugins/redactor/video.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/lib/plugins/redactor/table.js"></script> <script
		type="text/javascript" src="/admin/js/admin/lib/redactor.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/lib/blc-conditions-builder.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/lib/plugins/typeahead.bundle.js"></script> <script
		type="text/javascript" src="/admin/js/BLC.js"></script> <script
		type="text/javascript" src="/admin/js/BLC-system-property.js"></script>
	<script type="text/javascript" src="/admin/js/blc-dates.js"></script> <script
		type="text/javascript" src="/admin/js/admin/blc-admin.js"></script> <script
		type="text/javascript" src="/admin/js/admin/blc-admin-history.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/blc-admin-breadcrumb.js"></script> <script
		type="text/javascript" src="/admin/js/admin/ui/dates.js"></script> <script
		type="text/javascript" src="/admin/js/admin/ui/messages_en.js"></script>
	<script type="text/javascript" src="/admin/js/admin/ui/accordion.js"></script>
	<script type="text/javascript" src="/admin/js/admin/ui/modal.js"></script>
	<script type="text/javascript" src="/admin/js/admin/ui/imagezoom.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/components/entityForm.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/components/entityForm-generatedUrl.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/components/translations.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/components/assetSelector.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/components/ruleBuilder-operators.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/components/ruleBuilder-options.js"></script> <script
		type="text/javascript" src="/admin/js/admin/components/ruleBuilder.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/components/listGrid.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/components/listGrid-filter.js"></script> <script
		type="text/javascript"
		src="/admin/js/admin/components/listGrid-paginate.js"></script> <script
		type="text/javascript" src="/admin/js/admin/components/typeahead.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/components/sessionTimer.js"></script> <script
		type="text/javascript" src="/admin/js/admin/catalog/product.js"></script>
	<script type="text/javascript" src="/admin/js/admin/catalog/offer.js"></script>
	<script type="text/javascript"
		src="/admin/js/admin/catalog/category.js"></script> <script
		type="text/javascript" src="/admin/js/admin/menuItem.js"></script> <script
		type="text/javascript" src="/admin/js/admin/blc-admin-init.js"></script>

	</footer>

</body>
</html>