<div class="container_footer">
		<div class="container one">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class="foot1">
						<h3 class="footh">CONTACT US</h3>
						<div class="footm1">
							<ul class="footm111">
								<li class="footm12"><img src="img/map.png" />Semikart
									Internet Pvt Ltd <br /> No 78/1,3rd Cross Road <br />
									Gavipuram Extension<br /> Banglore</li>
							</ul>
							<ul>
								<li><img src="img/phone.png" />+ 91-80-41210347</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class="foot1">
						<h3 class="footh">MY ACCOUNT</h3>
						<div class="footm1">
							<ul class="footm111">
								<li><img src="img/social-icons/arrow.png" />Complete
									Network Setups</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Server
									Implementation</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Data
									Recovery and Backup</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Virus
									Protection and Cleanup</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Domains
									and Hostingd</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Reparing
									And Maintenance</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Website
									Services</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class="foot1">
						<h3 class="footh">OUR SERVICES</h3>
						<div class="footm1">
							<ul class="footm111">
								<li class="footm12"><img src="img/social-icons/arrow.png" />Complete
									Network Setups</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Server
									Implementation</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Data
									Recovery and Backup</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Virus
									Protection and Cleanup</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Domains
									and Hostingd</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Reparing
									And Maintenance</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Website
									Services</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class="foot1">
						<h3 class="footh">OUR SUPPORT</h3>
						<div class="footm1">
							<ul class="footm111">
								<li class="footm12"><img src="img/social-icons/arrow.png" />Complete
									Network Setups</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Server
									Implementation</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Data
									Recovery and Backup</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Virus
									Protection and Cleanup</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Domains
									and Hostingd</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Reparing
									And Maintenance</li>
								<li class="footm12"><img src="img/social-icons/arrow.png" />Website
									Services</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 social-media">
					<h3 class="footh">Follow us on</h3>
					<ul>
						<li><a href="#"><img src="img/social-icons/fb.png" /></a></li>
						<li><a href="#"><img
								src="img/social-icons/google-plus.png" /></a></li>
						<li><a href="#"><img src="img/social-icons/rss.png" /></a></li>
						<li><a href="#"><img src="img/social-icons/twitter.png" /></a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 our-banks">
					<img src="img/cart.png" />
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<p>Copyright 2015 SEMIKART. All Rights Reserved.</p>
			</div>
		</div>
	</div>
