<nav id="mobile-menu" class="mobile-header">
	<ul>
		<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">New-Products
		</a></li>
		<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Products
		</a>
			<ul class="dropdown-menu navmenu-nav" role="menu">
				<li><a href="#">Analog</a></li>
				<li><a href="#">Sensors</a></li>
				<li><a href="#">Semiconductors</a></li>
				<li><a href="#">Development tools</a></li>
				<li><a href="#">Embedded</a></li>
				<li><a href="#">Wired</a></li>
				<li class="wireless"><a
					href="/APIEXForSemiKart/semikart?searchKey=Wireless"> Wireless</a></li>
				<li class="display"><a
					href="/APIEXForSemiKart/semikart?searchKey=Display"> Display</a></li>
				<li class="opto"><a
					href="/APIEXForSemiKart/semikart?searchKey=Opto Electronics">
						Opto Electronics</a></li>
				<li class="LED-Lighting"><a
					href="/APIEXForSemiKart/semikart?searchKey=LED Lighting"> LED
						Lighting </a></li>
				<li class="Circuit-Protection"><a
					href="/APIEXForSemiKart/semikart?searchKey=Circuit Protection">
						Circuit Protection </a></li>
				<li class="Clock-Timing "><a href="#">Clock And Timing </a></li>
				<li class="power"><a
					href="/APIEXForSemiKart/semikart?searchKey=Power"> Power</a></li>
				<li class="passives"><a
					href="/APIEXForSemiKart/semikart?searchKey=Passives">Passives </a></li>
				<li class="Batteries"><a
					href="/APIEXForSemiKart/semikart?searchKey=Electromechanical">Electromechanical
				</a></li>
				<li class="Enclosures "><a
					href="/APIEXForSemiKart/semikart?searchKey=Enclosures">Enclosures
				</a></li>
				<li class="Wires-Cables "><a
					href="/APIEXForSemiKart/semikart?searchKey=Connectors">
						Connectors </a></li>
				<li class="Test-Measurement"><a href="#">Test And
						Measurement </a></li>
				<li class="thermal"><a href="#"> Wires And Cables</a></li>
				<li class="Tools"><a
					href="/APIEXForSemiKart/semikart?searchKey=Tools">Tools </a></li>
			</ul></li>
		<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Manufacturers</a>
			<ul class="dropdown-menu navmenu-nav" role="menu">
				<li><a href="#">All Manufacturers A-Z</a></li>
				<li><a href="#">New Manufactures</a></li>
				<li><a href="#">Manufacturers by Categories</a></li>
			</ul></li>
		<!-- 	<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Supplier</a>
				<ul class="dropdown-menu navmenu-nav" role="menu">
					<li><a href="#">AqTronics</a></li>
					<li><a href="#">Hynetic</a></li>
					<li><a href="#">Qualcomm Atheros</a></li>
				</ul></li> -->
		<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Application
		</a>
			<ul class="dropdown-menu navmenu-nav" role="menu">
				<li class=""><a
					href="/APIEXForSemiKart/semikart?searchKey=Automotive"><img
						src="img/automotive-flat-tire-22-16.png" />Automotive</a></li>
				<li class=""><a
					href="/APIEXForSemiKart/semikart?searchKey=Automation"><img
						src="img/configuration-16.png" />Automation</a></li>
				<li class=""><a href="#"><img src="img/telecom-16.png" />Broadband
						And Telecom </a></li>
				<li class=""><a href="#"><img src="img/misc_tower-16.png" />
						Defence </a></li>
				<li class=""><a
					href="/APIEXForSemiKart/semikart?searchKey=Embedded"><img
						src="img/misc_tower-16.png" />Embedded</a></li>
				<li class=""><a
					href="/APIEXForSemiKart/semikart?searchKey=Identification"><img
						src="img/051-16.png" /> Identification</a></li>
				<li class=""><a href="/APIEXForSemiKart/semikart?searchKey=IOT"><img
						src="img/iot-16.png" /> IOT</a></li>
				<li class=""><a href="/APIEXForSemiKart/semikart?searchKey=LBS"><img
						src="img/weight-lbs-16.png" /> LBS</a></li>
				<li class=""><a
					href="/APIEXForSemiKart/semikart?searchKey=Medical"><img
						src="img/recovery-16.png" /> Medical</a></li>
				<li class=""><a href="/APIEXForSemiKart/semikart?searchKey=M2M"><img
						src="img/mozilla_m.png" /> M2M</a></li>
				<li class=""><a
					href="/APIEXForSemiKart/semikart?searchKey=Power"><img
						src="img/abstract-target-16.png" />Power</a></li>
				<li class=""><a href="#"><img src="img/tv-16.png" /> Smart
						city</a></li>
				<li class=""><a
					href="/APIEXForSemiKart/semikart?searchKey=Sensing"><img
						src="img/sensors-applet.png" /> Sensing</a></li>
				<li class=""><a
					href="/APIEXForSemiKart/semikart?searchKey=Security"><img
						src="img/unlock_lock_security_secure-16.png" /> Security</a></li>
				<li class=""><a
					href="/APIEXForSemiKart/semikart?searchKey=SSL Lighting"><img
						src="img/abstract-lightning-16.png" /> SSL Lighting</a></li>
			</ul></li>
		<!-- 	<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Smart
					BOM</a></li> -->
	</ul>
</nav>
<div id="open-menu" class="navbar navbar-default navbar-fixed-top"
	style="float: left; width: 52px;">
	<button type="button" class="navbar-toggle" data-toggle="offcanvas"
		data-target="#myNavmenu" data-canvas="body">
		<span class="icon-bar"></span> <span class="icon-bar"></span> <span
			class="icon-bar"></span>
	</button>
</div>
<div class="responsive-outer">
	<div class="responsive-wrapper">
		<div class="responsive-logo">
			<a href="#"><img src="img/logo.png" width="100%" /></a>
		</div>
	</div>
	<div class="responsive-outer-right">
		<span class="search-all pull-right">
			<button type="button" class="btn btn-default" data-toggle="modal"
				data-target=".bs-example-modal-sm">
				<span class="glyphicon glyphicon-search"></span>
			</button>
			<div class="modal fade bs-example-modal-lg" tabindex="-1"
				role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">...</div>
				</div>
			</div>
			<div class="modal fade bs-example-modal-sm" tabindex="-1"
				role="dialog" aria-labelledby="mySmallModalLabel">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-body">
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control"
										placeholder="PART / KEYWORD" /> <span class="input-group-btn">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
										<button
											class="btn btn-default glyphicon glyphicon-search btn-danger"
											type="button"></button>
									</span>
								</div>
								<div class="checkbox">
									<label class="checkbox-inline"> <input type="checkbox"
										value="" /> STOCKED
									</label> <label class="checkbox-inline"> <input type="checkbox"
										value="" /> RoHS COMPLIANT
									</label>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</span>
		<div class="responsive-cart">
			<a href="#"><img src="img/cart-empty-32.png" /></a>
		</div>
		<div class="responsive-login">
			<a href="#"><img src="img/login.png" /></a>
		</div>
	</div>
</div>
<!-- END MOBILE CONTENTS -->
<!-- HEADER -->
<div class="container-fluid container_topbar">
	<!-- Topbar -->
	<div id="topbar">
		<div class="container topbar_inner">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class=" block customer-call">
						<span>OUR CUSTOMER CARE + 91-80-41210347</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div th:if="${customer.anonymous}" th:remove="tag">
						<div class="block pull-right secondary-menu">
							<ul>
								<li class="yes"><a th:href="@{/register}"> SIGN UP</a></li>
								<li class="login"><a th:href="@{/login}">LOGIN</a></li>
							</ul>
						</div>
					</div>
					<div th:unless="${customer.anonymous}" th:remove="tag">
						<div class="block pull-right secondary-menu">
							<ul>
								
								<li class="yes"><a th:href="@{/account}">Welcome <span
										th:utext="${customer.firstName}"></span></a></li>
								<li class="login"><a th:href="@{/logout}">LOGOUT</a></li>
							</ul>
						</div>
					</div>
					<div class="block pull-right cart">
						<div class="cart-item">
						<blc:form method="GET" >
							<a id="cartLink" th:href="@{'/cart?customerId='+${customer.id}}"
								style="color: #fff; outline: none;"> <img
								blc:src="@{/img/cart-empty-32.png}" alt="Shopping Cart Icon" />
								&nbsp; <span th:if="${session.NoOfProductsInCart==null}"
								class="headerCartItemsCount" th:text="0" /><span
								th:if="${session.NoOfProductsInCart!=null}"
								class="headerCartItemsCount"
								th:text="${session.NoOfProductsInCart}" /> <span
								th:utext="${cart.itemCount == 1} ? #{home.item} :  #{home.items}" />
							</a>
							</blc:form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- End Topbar -->
	
	<div id="header" class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 logo">
				<a href="#"><img src="img/logo.png" /></a>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 dropdown">
				<ul id="menu" class="pull-right">
					<li><a href="#" class="drop">New Products </a> <!-- Begin 4 columns Item -->
						<div class="dropdown_4columns newproducts_dropdown">
							<!-- Begin 4 columns container -->
							<div class="col_1">
								<div class="submenu-category"
									th:each="newProduct : ${session.NewProductsListDropDown}">
									<a
										th:href="@{'/search?searchKey='+${newProduct.manufacturerPart}}"><img
										th:src="@{${newProduct.imageUrl}}"
										onerror="javascript:handleImgeNotFound()"></img> <img
										th:src="@{'http://localhost:8080/broadleafdemo/cmsstatic/'+${newProduct.imageUrl}}"
										onerror="javascript:handleImgeNotFound()"></img> <span></span>
										<div class="submenu-content">
											<h3 class="new-products_heading"
												th:text="${newProduct.manufacturerPart}"></h3>
											<p th:text="${newProduct.description}"></p>
										</div> </a>
								</div>

							</div>
							<div class="submenu-contents"></div>
						</div></li>
					<!-- End 4 columns Item -->
					<li><a href="#" class="drop">Products </a>
						<div id="apps" class="dropdown_4columns dropdown_products">
							<!-- Begin 4 columns container -->
							<div class="col_1">
								<ul th:each="menuItem : ${session.ProductMenuDropDown}">
									<li class="analog"><a
										th:href="@{'/search?searchKey='+${menuItem.maincatagoryName}}">
											<img th:if="${menuItem.imageUrl!=''}"
											th:src="@{${menuItem.imageUrl}}"
											alt="..."></img> <span
											th:utext="${menuItem.maincatagoryName}"></span>
									</a></li>
								</ul>


							</div>
							<div class="submenu-contents"></div>
						</div> <!-- End 4 columns container --></li>
					<li><a href="#" class="drop"> Manufacturers </a> <!-- <div id="app" class="dropdown_4columns dropdown_manufacturers">
								Begin 4 columns container
								<div class="col_1">
									<ul class="sim">
										<li class=""><a href="#"> All Manufacturers A-Z</a></li>
										<li class=""><a href="#"> New Manufactures</a></li>
										<li class=""><a href="#"> Manufacturers by Categories</a>
										</li>
									</ul>
								</div>
							</div> --></li>
					<!-- <li><a href="search.html" class="drop"> Supplier </a>
							<div id="app1" class="dropdown_4columns dropdown_suppliers">
								Begin 4 columns container
								<div class="col_111">
									<ul class="sim">
										<li class=""><a href="#"> AqTronics</a></li>
										<li class=""><a href="#"> Hynetic</a></li>
										<li class=""><a href="#"> Qualcomm Atheros</a></li>
									</ul>
								</div>
							</div></li> -->
					<li><a href="#" class="drop"> Application </a>
						<div id="app3"
							class="dropdown_4columns_application dropdown_application">
							<!-- Begin 4 columns container -->
							<div class="col_1">


								<ul th:each="menuItem : ${session.applicationProductList}"
									class="sim1">
									<li class="analog"><a
										th:href="@{'/search?searchKey='+${menuItem.maincatagoryName}}">
											<img th:if="${menuItem.imageUrl!=''}"
											th:src="@{${menuItem.imageUrl}}"
											alt="..."></img> <span
											th:utext="${menuItem.maincatagoryName}"></span>
									</a></li>
								</ul>

							</div>
						</div></li>
					<!-- <li><a href="#"> Smart BOM </a></li> -->
				</ul>
			</div>
			<div class="col-lg-12 search-bar">


				<blc:form th:action="@{/search}" method="GET" id="ui_element"
					class="sb_wrapper site-search">

					<div class="block radio-button col-md-3">

						<span> <input name="checkBox" type="checkbox"
							value="Stocked" />

						</span>STOCKED <span> <input name="checkBox" type="checkbox"
							value="RoHS" />

						</span>RoHS COMPLIANT

					</div>

					<div class="search-icon col-md-9">

						<input type="text" name="searchKey"
							class="form-control sb_search-field" id="q"
							placeholder="Key / PartNumber" width="px" /> <input
							type="submit" class="sb_search" />

					</div>

				</blc:form>

			</div>


		</div>
	</div>
</div>